[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.12.2"
flask-cors = "==3.0.3"
flask-restplus = "*"
gunicorn = "*"
structlog = "*"
openpyxl = "==2.5.1"
sqlalchemy = "*"
psycopg2 = "==2.7.4"
cfenv = "==0.5.3"


[dev-packages]

pytest = "*"
"flake8" = "*"
testfixtures = "*"
pytest-cov = "*"


[requires]

python_version = "3.6.3"
