[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-cors = "*"
flask-restplus = "*"
gunicorn = "*"
structlog = "*"
openpyxl = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cfenv = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
testfixtures = "*"
pytest-cov = "*"


[requires]

python_version = "3.6.3"
