[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
flask = "==2.1.3"
flask-cors = "*"
flask-restx = "*"
gunicorn = "*"
gevent = {version = "*", platform_python_implementation="=='CPython'"}
structlog = "*"
openpyxl = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "==2.0.3"
google-cloud-storage = "*"
boto3 = "*"

[dev-packages]
black = "*"
pytest = "*"
flake8 = "*"
isort = "*"
testfixtures = "*"
pytest-cov = "*"
coverage= "*"


[requires]

python_version = "3.10"
